<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Recipes</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="col-md-6 col-md-offset-3">
			<div class="card border-primary mb-3">
				<div class="card-header font-weight-bold text-white bg-primary">
					<p class="card-title mb-4">Ingredients</p>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead class="thead-inverse">
								<tr>
									<td>ID</td>
									<td>Description</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="width: 100px;" th:text="${ingredient.id}"></td>
									<td style="width: 300px;" th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.description} + ' - ' + ${ingredient.description}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>